/* Untuk Tablet */
@media all and (max-width: 1000px) {
  /*start header*/
  header{
    padding: 0 20px;
  }
  .content-header {
		flex-direction: column;
	}
	.introduction {
		margin-top: 85px;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 36px;
	}
	.intro-text p {
		font-size: 20px;
	}
	.intro-image img {
    		width: 100%;
		height: auto;
	}
  .intro-image{
    margin-top : 0;
  }
  .content-header {
  	min-height: 90vh;
  }
  /*end header*/
  
  /*start sevices*/
    .column {
      width: 40%;
      margin-bottom: 30px;
      position: relative;
      left: 10%; /* or right 50% */
    }

    .heading h1{
        text-align: center;
        font-size: 25px;
    }
  
    .heading p{
        text-align: center;
        font-size: 13px;
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .card p{
      font-size: 13px;
  }
    .card {
      height: 390px;
  }
  /*end services*/
  
  /*responsive content technologies*/
  .col{
    width: 50%;
  }

  .col h2{
    font-size: 2vw;
  }
  .tech-card .tech-logo {
    width: 50px;
    height: 50px;
    top: -25px;
  }
	
  .tech-card {
    height: 130px;
  }
  /*end of responsive content technologies*/
  
  /*styling untuk team*/
   .teams {
    flex-wrap: wrap;
    margin: auto 0;
  }
  
  .team {
    width: 50%;
    margin-bottom: 50px;
  }
	
  

  .team h2 {
    font-size: 15px;
  }

  .team p {
    font-size: 13px;
  }

  .team-desc p {
    font-size: 12px;
  }

 .team-heading {
  line-height: 30px;
  }
  
  .team h2 {
  line-height: 30px;
   }

  .role {
  padding-top: 5px;
  }
  
  .team-sosmed {
   padding-top: 15px;
  }
  
  .team-desc p {
    padding-top: 15px;
  }
  /*styling untuk team end*/

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
/*start header*/
header{
    padding: 0 20px;
  }
  .menu-toggle{
    display:block;
  }
  header nav{
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background:#121627;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active{
    left: 0;
  }
  header nav ul{
     display:block;
     text-align: center;
  }
  header nav ul{
     display:block;
     text-align: center;
  }
  header nav ul li a{
     border-bottom: 1px solid rgba(0,0,0,.2)
  }
  .introduction {
    margin-top: 80px;
    text-align: center;
  }
  .intro-image img {
    height: 70%;
  }
  .intro-text h1 {
    font-size: 36px;
  }
  .intro-text p {
    font-size: 16px;
  }
  .content-header {
  	min-height: 90vh;
  }
/*end header*/	
	
  /*responsive content technologies*/
  .col {
    width: 100%;
    text-align: center;
  }

  .tech-card {
    padding-top: 30px;
    height: auto;
  }

  .col h2 {
    font-size: 23px;
  }

  .col p {
    font-size: 14px;
  }

  .tech-card .tech-logo {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    top: -25px;
    left: 0;
    right: 0;
    text-align: center;
  }

  /*end of responsive content technologies*/
  
/*styling untuk team*/
   .teams {
    flex-direction: column;
  }
  
  .team {
    margin: 0 auto;
    width: 100%;
  }
  
  .team h2 {
  line-height: 10px;
   }

  .role {
  padding-top: 5px;
  }
  
  .team-sosmed {
   padding-top: 10px;
   font-size: 20px;
  }
  
  .team-desc p {
    padding-top: 10px;
  }
  /*styling untuk team end*/
	
 /*Start Styling Service*/
  .column {
    width: 80%;
    display: block;
    margin-left: 40px;
    margin-bottom: 30px;
    position: relative;
    left: 0; /* or right 50% */
  }

  .heading h1{
      text-align: center;
      font-size: 23px;

  }

  .heading p{
      text-align: center;
      font-size: 13px;
      margin-top: -20px;
      margin-bottom: 50px;
  } 
	
  .card {height: auto;}
	
  .card p{
    font-size: 13px;
}
 /*End Styling Service*/

}
