/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper span {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
  
   .teams {
    flex-wrap: wrap;
  }
  .team {
    width: 50%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: center;
  }
  .top-wrapper:after {
    content: '';
    position: absolute;
    border-top: 100px solid #121627;
    border-left: 100vw solid transparent;
    bottom: -100px;
  }

  .header-right{
    display:none;
  }

  .menu-icon{
    display:block;
  }

  .top-wrapper span {
    font-size: 24px;
    line-height: 20px;
  }

  .top-wrapper p {
    font-size: 12px;
    line-height: 20px;
  }
  
   .teams {
    flex-direction: column;
  }
  
  .team {
    margin: 0 auto;
}



 /* Awal Styling Service*/

  /* Responsive columns */
  @media screen and (max-width: 1000px) {
    .column {
      width: 40%;
      margin-bottom: 30px;
      position: relative;
      left: 50px; /* or right 50% */
    }

    .heading h1{
        text-align: center;
        font-size: 25px;
    }
  
    .heading p{
        text-align: center;
        font-size: 13px;
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .card p{
      font-size: 13px;
  }

  }
  
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 80%;
    display: block;
    margin-left: 40px;
    margin-bottom: 30px;
    position: relative;
    left: 0; /* or right 50% */
  }

  .heading h1{
      text-align: center;
      font-size: 23px;

  }

  .heading p{
      text-align: center;
      font-size: 13px;
      margin-top: -20px;
      margin-bottom: 50px;
  }

  .card p{
    font-size: 13px;
}

}
 /* Akhir Styling Service*/
